<h1>Submit a Track</h1>

<p>
	Rules:
	<ul>
		<li>Only tracks devoted to "competitive land-based motorsports" are accepted.  This means no dog or horse tracks,	boat racing venues, velodromes, etc.</li>
		<li>Examples of tracks that are welcome: road racing, oval, dirt track, autocross, motocross, drag strip, go-kart, etc.</li>
		<li>All tracks must be open to the public or semi-private (members only).  Tracks owned by individuals or families for their own personal use are not accepted.</li>
		<li>You will be credited with submitting this information.  Users who submit several high-quality submissions can earn the right to become a TracKnowledge editor or forum moderator!
		<li>Submissions with incorrect or missing data will be rejected.</li>
	</ul>
</p>

<% form_for @track do |f| %>
<div>
	<h3>Required</h3>
<table>
	<tr><th>Name</th><td><%= f.text_field :name, :maxlength => 64 %></td></tr>
	<tr><th>Latitude<sup>1</sup></th><td><%= f.text_field :lat, :maxlength => 12 %> (example: 34.56789)</td></tr>
	<tr><th>Longitude</th><td><%= f.text_field :lng, :maxlength => 12 %> (example: -110.12345)</td></tr>
	<tr><th>Country</th><td><%= select(:track, :country_code, new_country_options) %></td></tr>
	<tr><th>Your Email<sup>2</sup></th><td><%= f.text_field :user_email, :size => 64, :maxlength => 128 %></td></tr>
	<tr><th>Uses</th><td>
	<% Category.all.in_groups_of(3) do |group| 
		   group.each do |cat| 
			    next unless cat 
				  checked = params[:track] && params[:track][:category_ids] ? params[:track][:category_ids].include?(cat.id.to_s) : false
			%>
					<%= check_box_tag('track[category_ids][]', cat.id, checked, :id => "category-#{cat.id}") %>
					<label for="category-<%= cat.id %>"><%= cat.name %></label>
			 <% end %><br/>
	<% end %>
	</td></tr>
</table>
</div>
<div>
	<h3>Optional</h3>
	<p>Please enter this information if known and applicable to the track.</p>
<table>
	<tr><th>State</th><td><%= select(:track, :state, new_state_options)  %></td></tr>
	<tr><th>Address</th><td><%= f.text_field :address, :maxlength => 64 %></td></tr>
	<tr><th>Website URL</th><td><%= f.text_field :website, :maxlength => 64 %></td></tr>
	<tr><th>Designer</th><td><%= f.text_field :designer, :maxlength => 64 %></td></tr>
	<tr><th>Seating Capacity</th><td><%= f.text_field :capacity, :maxlength => 6 %></td></tr>
	<tr><th>Owner</th><td><%= f.text_field :owner, :maxlength => 64 %></td></tr>
	<tr><th>Year Built</th><td><%= f.text_field :year_built, :maxlength => 4 %></td></tr>
	<tr><th>Length<sup>3</sup></th><td><%= f.text_field :length_in_km, :maxlength => 6 %> <select name="uom"><%= options_for_select [['kilometers', 'km'], ['miles', 'mi']], params[:uom] %></select></td></tr>
	<tr><th>Your Name<sup>4</sup></th><td><%= f.text_field :added_by, :maxlength => 64 %></td></tr>
</table>
</div>
<%= submit_tag 'Submit' %>
<% end %>

<ol style="font-size: 0.8em;">
<li>Latitude and longitude can be discovered via <a href="http://maps.google.com">Google Maps</a>, <a href="http://geocoder.us/">Geocoder.us</a> or other mapping services.</li>
<li>The email will be used only to contact you about this submission.  No newsletters or spam, we promise!</li>
<li>If the track has multiple configurations, please enter the length of the most commonly used configuration or the longest configuration.</li>
<li>This name will appear on the web page for this track.  Don't enter anything if you want to remain anonymous.</li>
</ol>