<h1><%= h @track.name %></h1>
<div>
	<div id="track_data" style="float: left">
		<h2>Basic Information</h2>
		<table>
		<% %w(address owner country turns capacity designer length_in_km year_built added_by).each do |prop| 
			val = @track.send(prop.to_sym)
			next if val.blank? %>
		 <tr><th><%= prop.titleize %></th><td><%= h val %></td></tr>
		<% end %>
		<% if @track.wikipedia_url %>
			<tr><th>Wikipedia</th><td><%= link_to h(@track.wikipedia_url.gsub /http:\/\/en\.wikipedia\.org\/wiki\//, ''), @track.wikipedia_url, {:target => '_new'} %></a></td></tr>
		<% end %>
		<% if @track.website %>
		 <tr><th>Website</th><td><%= link_to h(@track.website), @track.website, {:target => '_new'} %></td></tr>
		<% end %>
		 <tr><th>Tags</th><td><% @track.tags.each do |tag| %><%= link_to tag, "http://flickr.com/photos/tags/#{tag}", :target => '_new' %> <%end%></td></tr>
		 <tr><th>Types</th><td><%= @track.categories.map(&:name).join(", ") %></td></tr>
		</table>
	</div>
	<!--div id="track_description" style="float: right; width: 50%;">
		<strong>Description</strong>
		<p>
			<% unless @track.notes.blank? %>
				<%= @track.notes%>
			<% else %>
				<em>No description available for this track.</em>
			<% end %>
		</p>
	</div-->
	<div id="track_video" style=" float: right; width: 700px;">
		<h2>Youtube Video</h2>
		<ul style="list-style-type: none; padding: 0; margin: 0;">
		<%
			search = Youtube::Video.find(:first, :params => {:vq => @track.name, :"max-results" => '5'})
		  search.entry.each do |entry|
				thumb = entry.group.thumbnail.first %>
				<li style="display: inline; float: right; width: <%= Integer(thumb.width) + 10 %>px">
				<%= link_to image_tag(thumb.url, :width => thumb.width, :height => thumb.height, :style => 'padding: 5px 5px;', :title => entry.title), entry.group.player.url, :target => '_new' %>
				<p style="font-size: 0.7em;"><%= entry.title %></p>
				</li>
 	  <% end %>
		</ul>
	</div>
</div>
<div style="width: 800px; clear: both; padding-top: 30px;">
<h2>Map View</h2>
<% if @map %>
<!-- here's the track -->
<%= @map.to_html %>
<%= @map.div(:width => 800, :height => 600) %>
<% else %>
 <em>No track map found.</em>
<% end %>
</div>