<h1><%= h @track.name %></h1>
<div>
	<div id="track_data" style="float: left">
		<table>
		<% %w(address owner country added_by).each do |prop| 
			val = @track.send(prop.to_sym)
			next unless val %>
		 <tr><th><%= prop.titleize %></th><td><%= val %></td></tr>
		<% end %>
		 <tr><th>Website</th><td><%= link_to @track.website, @track.website %></td></tr>
		 <tr><th>Tags</th><td><% @track.tags.each do |tag| %><%= link_to tag, "http://flickr.com/photos/tags/#{tag}", :target => '_new' %> <%end%></td></tr>
		 <tr><th>Types</th><td><%= @track.categories.map(&:name).join(", ") %></td></tr>
		</table>
	</div>
	<div id="track_description" style="float: right; width: 50%;">
		<strong>Description</strong>
		<p>
			<% unless @track.notes.blank? %>
				<%= @track.notes%>
			<% else %>
				<em>No description available for this track.</em>
			<% end %>
		</p>
	</div>
</div>
<div style="width: 800px; clear: both; padding-top: 30px;">
<h2>Map View</h2>
<% if @map %>
<%= @map.to_html %>
<%= @map.div(:width => 800, :height => 600) %>
<% end %>
</div>