<% @page_title = @track.name %>
<h1><%= h @track.name %></h1>
<div>
	<div id="track_data" style="float: left">
		<h2>Basic Information</h2>
		<table>
		<% %w(address state_name country owner designer year_built capacity turns).each do |prop| 
			val = @track.send(prop.to_sym)
			next if val.blank? %>
		 <tr><th><%= prop.titleize %></th><td><%= h val %></td></tr>
		<% end %>
		<% if @track.length_in_km %>
		 <tr><th>Length</th><td><%= @track.length_in_km %> km (<%= number_with_precision(@track.length_in_km/1.61, 2) %> mi)</td></tr>
		<% end %>
		<% if @track.wikipedia_url %>
			<tr><th>Wikipedia</th><td><%= link_to @track.wikipedia_url.gsub(/http:\/\/en\.wikipedia\.org\/wiki\//, ''), @track.wikipedia_url, {:target => '_new'} %></a></td></tr>
		<% end %>
		<% if @track.website %>
		 <tr><th>Website</th><td><%= link_to h(@track.website), @track.website, {:target => '_new'} %></td></tr>
		<% end %>
		<% unless @track.tags.blank? %>
		 <tr><th>Tags</th><td><% @track.tags.each do |tag| %><%= link_to tag, "http://flickr.com/photos/tags/#{tag}", :target => '_new' %> <%end%></td></tr>
		<% end %>
		 <tr><th>Types</th><td><%= @track.categories.map(&:name).join(", ") %></td></tr>
		<% if @track.added_by %>
		 <tr><th>Submitted By</th><td><%= h @track.added_by %></td></tr>
		<% end %>
		</table>
	</div>
	<!--div id="track_description" style="float: right; width: 50%;">
		<strong>Description</strong>
		<p>
			<% unless @track.notes.blank? %>
				<%= @track.notes%>
			<% else %>
				<em>No description available for this track.</em>
			<% end %>
		</p>
	</div-->
	<div id="track_video" style=" float: right; width: 700px;">
		<h2><%= link_to(image_tag('youtube.png', :height => '30', :width => '80', :title => 'Youtube', :style => 'margin-bottom: -5px;'), 'http://www.youtube.com', :target => '_new') %> Video</h2>
		<% if @videos.is_a? String # Youtube API not available %>
			<p><%= @videos %></p>
		<% else %>
			<ul style="list-style-type: none; padding: 0; margin: 0;">
			<%= render :partial => 'video', :collection => @videos %>
			</ul>
		<% end %>
	</div>
	<div id="track_pictures" style=" float: right; width: 700px;">
		<h2><%= link_to(image_tag('flickr.png', :height => '30', :width => '105', :title => 'Flickr', :style => 'margin-bottom: -1px;'), 'http://www.flickr.com', :target => '_new') %> Photos</h2>
		<% if @pictures.is_a? String # Flickr API not available %>
			<p><%= @pictures %></p>
		<% else %>
			<ul style="list-style-type: none; padding: 0; margin: 0;">
			<%= render :partial => 'picture', :collection => @pictures %>
			</ul>
		<% end %>
	</div>
</div>
<div style="width: 800px; clear: both;">
<h2><%= link_to(image_tag('google.png', :height => '30', :width => '80', :title => 'Google Maps', :style => 'margin-bottom: -9px;'), 'http://maps.google.com', :target => '_new') %> Maps</h2>
<% if @map %>
<!-- here's the track -->
<%= @map.to_html %>
<%= @map.div(:width => 800, :height => 600) %>
<% else %>
 <em>No track map found.</em>
<% end %>
</div>
