<div id="header">
	<span id="banner" style="float: left;">
		<%= link_to('TracKnowledge', root_path)%>
	</span>
	<span id="session-status" style="float: right;">
		Search: <% form_tag('/search', :method => :get, :style => 'display: inline;') do %><%= text_field_tag :name, params[:name], { :size => 15, :maxlength => 50 } %><%= submit_tag 'Go!' %><% end %>
		| <%= link_to 'Random!', random_tracks_path %>
		| <%= link_to 'Store', '/products' %>
		| <%= link_to 'Forums', '/forums' %>
		<% if @user -%>
			| <%= link_to 'Logout', logout_session_path -%>
			<% if @user.is_admin? -%>
				| <%= link_to 'Admin', admin_tracks_path %>
			<% end -%>
		<% end -%>
	</span>
</div>
<br style="clear: both"/>