<div id="home_tracks">
	<h2>Your Home Tracks</h2>
	<table>
		<% @closest.each do |track| %>
		<tr><td><%= link_to track.name, track_path(track) %></td><td><%= number_with_precision track.distance, 1 %></td><td><%= track.categories.map(&:name).join(", ") %></td></tr>
		<% end %>
	</table>
</div>

<div id="about_us">
	<h2>About Us</h2>
	<p>
		Welcome to tracknowledge.org, where you can find all things related to motorsports and race tracks!
	</p>
	<ul>
		<li><%= link_to 'Find your favorite track in our database', new_search_path %></li>
		<li><%= link_to 'Chat with fellow enthusiasts in our forums', '/forums' %></li>
		<li><%= link_to 'Shop for your favorite fan in our store', products_path %></li>
		<li><%= link_to 'Submit information about a Track in your area', new_track_path %></li>
	</ul>
</div>