<tr<%= result.status == 0 ? ' style="background-color: #ffbbbb;"' : '' %>>
	<td><%= link_to result.name, track_url(result) %></td>
	<td><%= result.state ? result.state.upcase : nil %></td>
	<td><%= result.country %></td>
	<td><%= result.length_in_km %></td>
	<td><%= result.address %></td>
	<td><%= link_to_if result.website, 'Website', result.website, :target => '_new' %></td>
</tr>