<tr <%= result.status == 0 ? 'style="background-color: #ffbbbb;"' : row_style(result_counter) %>>
	<td><%= link_to result.name, track_url(result) %></td>
	<td><%= result.state ? result.state.upcase : nil %></td>
	<td><%= result.country %></td>
	<td><%= result.length_in_km %></td>
	<td><%= result.turns %></td>
</tr>