<h1>Search for Tracks</h1>
<%= render :partial => 'filter' %>
<% if @results and @results.size > 0 %>
	<table width="95%">
		<thead>
	    <tr>
	      <%= sort_header_tag('name') %>
	      <%= sort_header_tag('state') %>
	      <%= sort_header_tag('country_code', :text => 'Country') %>
	      <%= sort_header_tag('length_in_km', :text => 'Length (km)') %>
	      <%= sort_header_tag('turns') %>
	    </tr>
	  </thead>
		<tbody>
			<%= render :partial => 'result', :collection => @results %>
		</tbody>
	</table>
	<%= will_paginate @results %>
<% elsif @results %>
<p>
	<em>No tracks found.  So <%= link_to 'submit your favorite track', new_track_path %> to us!</em>
</p>
<% end %>