<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
   <title>TracKnowledge - <%= area %></title>
		<%= javascript_include_tag :defaults %>
		<%= stylesheet_link_tag 'home' %>
		<%= GMap.header %>
	</head>
	<body onunload="GUnload()">
		<%= render :partial => 'shared/header' %>
		<div id="content" style="clear: both;">
			<% %w(error notice).each do |type| %>
				<% if flash[type.to_sym] %>
				<div class="flash" id="<%= type %>">
					<%= flash[type.to_sym] %>
				</div>
				<% end %>
			<% end %>
			<%= yield %>
		</div>
		<%= render :partial => 'shared/footer' %>
	</body>
</html>
